html, body
{
	height:100%;
	/*width:100%;*/
	display:block;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
	overflow:hidden;
}

div{
	display: block;
	border-style: solid;
	border-width: 0px;
	overflow:hidden;
}

a{
	outline: none;
	/*color: #0088cc;*/
	color: #ffffff;
	text-decoration: none;
}

ul{
	display:block;
	list-style-type:none;
	padding-left:0px;
	margin:5px;
}

li {
	display: list-item;
}

.float_left{
	float:left;
}

.float_right{
	float:right;
}

.mc-theme-color{
	/*background-color:#2D2D2D;	*/
	background-color:#0097c3;
}

.mc-theme-color-hover{
	background-color:#57aed8;	
}

.mc-theme-color-hover{
	background-color:#57aed8;	
}

.mc-column{
	float : left;
	position:relative;
}

.mc-panel{
	position:relative;
	overflow:auto;
	border-top:1px;
}

.mc-border-bottom{
	border-bottom:1px solid #e6e6e6;
}

.mc-border-right-light{
	border-right:1px solid #e6e6e6;
}

.mc-border{
	border:1px solid #e6e6e6;
}

.mc-icon{
	display:block;
	width:16px;
	height:16px;
	margin:0px;
	background-repeat:no-repeat;
	background-position:center;
}

.mc-icon-ribbon{
	display:block;
	width:64px;
	height:64px;
	margin:0px;
	background-repeat:no-repeat;
	background-position:center;
}

.mc-icon-eye-open{
	background-image:url(../images/eye-open.png);
}

.mc-icon-eye-close{
	background-image:url(../images/eye-close.png);	
}


.mc-icon-point{
	background-image:url(../images/point.png);
}

.mc-icon-expand{
	background-image:url(../images/arrow-expand.png);
}

.mc-icon-close{
	background-image:url(../images/arrow-close.png);
}

.mc-icon-lock-open{
	background-image:url(../images/lock-open-16.png);
}

.mc-icon-lock-close{
	background-image:url(../images/lock-close-16.png);
}

.mc-icon-plus{
	background-image:url(../images/add-16.png);
}

.mc-icon-minus{
	background-image:url(../images/minus-16.png);
}

.mc-icon-folder{
	background-image:url(../images/folder-16.png);
}

.mc-icon-info{
	background-image:url(../images/info-16.png);
}

.mc-icon-hand-up{
	background-image:url(../images/hand-up-16.png);
}

.mc-icon-full-screen{
	background-image:url(../images/fullscreen-g-16.png);
}

.mc-icon-zoom-in{
	background-image:url(../images/zoom-in-16.png);
}

.mc-icon-pin{
	background-image:url(../images/pin-16.png);
}

.mc-icon-map-new{
	background-image:url(../images/map-new-40.png);
}

.mc-icon-map-publish{
	background-image:url(../images/map-publish-40.png);	
}

.mc-icon-layers{
	background-image:url(../images/Layers-40.png);
}

.mc-icon-layer_new{
	background-image:url(../images/Layers-40.png);
}

.mc-icon-layer_vector{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-layer_wms{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-layers-wfs{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-file{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-database{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-layers{
	background-image:url(../images/Layers-40.png);
}
.mc-icon-heatmap{
	background-image:url(../images/Layers-40.png);
}

.mc-icon-thumb-vector{
	background-image:url(../images/map-vector-thumb.png);
}

.mc-icon-thumb-image{
	background-image:url(../images/map-image-thumb.png);
}

.mc-icon-thumb-amap{
	background-image:url(../images/map-amap-thumb.png);
}


.mc-icon-layers-edit{
	background-image:url(../images/layers-edit-40.png);	
}

.mc-icon-layers-create{
	background-image:url(../images/layers-create-16.png);	
}

.mc-icon-layers-duplicate{
	background-image:url(../images/layers-duplicate-16.png);	
}

.mc-icon-layers-remove{
	background-image:url(../images/layers-remove-16.png);	
}

.mc-icon-layers-zoom{
	background-image:url(../images/layers-remove-16.png);	
}

.mc-icon-map-select{
	background-image:url(../images/layers-remove-16.png);	
}
.mc-icon-tool-merge{
	background-image:url(../images/tool-merge-40.png);	
}

.mc-icon-tool-geocoder{
	background-image:url(../images/tool-geocoders-40.png);
}

.mc-world-full{
	background-image:url(../images/diqiusucai1_16.png);
}

.mc-layer-item-hover{
	background: #eef4ff;
}

.mc-layer-item-active{
	background: #beebff;;
}

#logo_panel{
	position:absolute;
	top: 5px;
	left:10px;
	width: 50px;
	height:50px;
	background-image:url(../images/Web_Browser_50.png);
	background-repeat:no;
	z-index:2;
}

#login_panel{
	position:absolute;
	float:right;
	top:10px;
	right:30px;
	z-index:2;
}

#workbench{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	z-index:1;
}

#head_panel{
	position:relative;
	height: 20px;	
}

#ribbon_wrapper{
	position:relative;
	height:100px;
	border-bottom:1px solid #CCC;
	background-color:#f9f9f9;
}

#ribbon{
	height:20px;
	/*background-color:#066;*/
}

#ribbon_tabs{
	margin:0px 0px 0px 100px;
}

#ribbon_container{
	width:100%;
	height:80px;
	overflow:hidden;
}

.ribbon_panel{
	float:left;
	width:100%;
	height:100%;
	margin-left:60px;
}

.ribbon_group{
	float:left;
	margin:5px;
	padding:0px 10px;
	height:72px;	
	width:auto;
	border-right: 1px solid #CCC;

}

.ribbon-item{
	float:left;
	width:64px;
	height:60px;
	margin: 0px 10px;
	cursor : pointer;
}

.ribbon-item-over{
	border: 1px solid #CCC;
	/*background-color:#B9FFFF;*/
	background-color:#eee;
}

.ribbon_image{
	margin-top:2px;
	height:40px;
}

/*.ribbon_label{
	text-align:center;
	height:16px;
	line-height:16px;
}
*/
.ribbon_label{
	text-align:center;
}

.ribbon_button_16{
	height: 16px;
	padding: 3px 4px 3px 4px;
	cursor:pointer;
	clear:both;
}

.ribbon_image_16{
	height:16px;
	width:16px;
	float:left;
}

.mc-active-tab{
	background-color:#f9f9f9;	
	background-image:none;
}

li.mc-active-tab a{
	color:#000;
	display: block;
}

ul#ribbon_tabs li{
	float : left;
	margin: 0px;
	min-width: 70px;
	border: 0px;
	text-align: center;
	/*background-color:#57aed8;*/
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#main_panel{
	height:100%;
}

#left_panel{
	width:300px;
	height:100%;
	border-right:1px solid #CCC;
}

#layers_wrapper{
	height:100%;
}

#layers_panel_title{
	height:30px;
	background-color:#f9f9f9;		
}

#layers_panel_bar{
	padding:0px 2px 0px 10px;
	height:30px;
	background-color:#f9f9f9;		
}

#layers_panel_title a{
	padding: 0px 0px 0px 10px;
	height:30px;
	line-height:30px;
	color: #0088cc;
	text-decoration:underline;
}

#layers_tree{
	margin:0px;
	width:100%;
	height:800px;
	background-color:#ffffff;		
}

.mc-layer{
	height:30px;
	margin:0px 10px;
}

.mc-layer a{
	color:#333;
}

.mc-layer-item{
	margin-top:6px;
	padding:0px 5px;
}

.mc-layer-name{
	line-height:30px;	
}

#map_view_wrapper{
	float:left;
	width:100px;
}

#center_panel{
	height:100%;
	/*background-color:#0F9;*/
}

#map_bar_wrapper{
	position:absolute;
	top:30px;
	left:30px;
	background-color:#FFF;
	opacity:0.7;
	width:240px;
	height:30px;
	z-index:2;
}

#map_bar_wrapper div{
	float:left;
	margin:0px;
	width:30px;
	height:30px;
	border-right:1px solid #e6e6e6;
	cursor:pointer;
}

.mc-mask{
	top:0px;
	left:0px;
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.8;
	z-index:10;
}

/***************************************************************************/
/* New Map Dialog Begin                                                    */
/***************************************************************************/
.mc-dialog{
	position:absolute;
	display : none;
	border:1px solid #e6e6e6;
	background-color:#fff;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -180px;
	border-radius: 6px;
	font-family:"Microsoft YaHei" ! important;
	font-size:16px;
	z-index:100;
	min-width: 360px;
	min-height: 240px;
}

.mc-dialog-header{
	margin:0px 20px;
	/*background-color:#e6e6e6;*/
}

.mc-dialog-bottom{
	height:50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0px 20px;
	border-top: 1px solid #e6e6e6;
}

.mc-dialog-bottom a{
	float:right;
	color:#fff;
	display:block;
	border-radius: 5px;
	background-color:#03C;
	border:1px solid #e6e6e6;
	margin:10px 5px;
	padding:5px 15px;
}

.mc-dialog-title{
	float:left;
	height:100%;
	line-height:50px;
	font-size: 20px;
	font-family: "Microsoft YaHei" ! important;
}

.mc-dialog-close{
	float:right;
	width:40px;
	height:50px;
	background-image:url(../images/close-16.png);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}

.mc-dialog-close:hover{
	background-image:url(../images/close-22.png);

}

/*.mc-new-map-info{
	margin:20px;
	height:auto;
}*/
.mc-dialog-info{
	margin:20px;
	height:auto;
	margin-bottom:50px;
	font-size: 14px;
}

.mc-map-name-wrapper{
	width:280px;
	margin-left:auto;
	margin-right:auto;
	padding: 5px 0px;
}

#map_name{
	margin:0px 10px;
	height:25px;
	width:200px;
}

.mc-map-gallery{
	height:auto;
	margin: 20px 2px;
}

.mc-map-thumb-wrapper{
	text-align:center;
	margin:10px;
	float:left;
}

.mc-map-title{
	margin:5px 0px;
}

.mc-map-thumb{
	width:90px;
	height:100px;
	border:2px solid #eeeeee;
	/*box-shadow: #666 10px 10px 10px 10px;*/
	/*background-color:#F00;*/
}

.mc-map-thumb-over{
	border:2px solid #f00;
}

#new_map_dialog{;
	width:500px;
	height:400px;
	margin-left:-250px;
	margin-top:-200px;
	/*height:500px;*/
	/*background-color:#09C;*/
}

.mc-map-thumb-label{
	height:40px;
	line-height:40px;
	text-align:center;
}

.mc-dialog-close-button{
}


/***************************************************************************/
/* New Map Dialog End                                                    */
/***************************************************************************/

/***************************************************************************/
/* New Layer Dialog Begin                                                    */
/***************************************************************************/

#new_layer_dialog{
	height:600px;
	width:800px;
	margin-left:-400px;
	margin-top:-300px
}

.mc-dialog-info-left{
	float:left;
	width:260px;
	border: 1px solid #e2e2e2;
	border-radius:8px;
	height:460px;
}

.mc-dialog-info-right{
	float:right;
	width:400px;
	border: 1px solid #e2e2e2;
	height:460px;
}
/***************************************************************************/
/* New Layer Dialog End                                                    */
/***************************************************************************/
/***************************************************************************/
/* WFS Layer Dialog Begin                                                  */
/***************************************************************************/

/***************************************************************************/
/* WFS Layer Dialog End                                                  */
/***************************************************************************/
#wfs_datasource_dialog{
	height:400px;
	width:600px;
	margin-left:-300px;
	margin-top:-200px;
}
#wfs_datasource_dialog_form_div{
	height:280px;
}
#wfs_datasource_get_info{
	color: #0088cc;
	text-decoration: underline;	
}
/***************************************************************************/
/* Edit Layer Dialog Begin                                                  */
/***************************************************************************/

#edit_layer_dialog{
	width:600px;
	height:400px;
	margin-left: -300px;
	margin-top:-200px;
}

.mc-tabs{
}

.mc-tabs-ul{
/*	padding: 0px;
	margin:0px;
	overflow: hidden;
*/
	height: 30px;
	line-height: 30px;
	width: 100%;
	margin: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #CCC;
}

.mc-tabs-ul li{
	float:left;
	width: 60px;
	text-align: center;
	background-color: #f2f2f2;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-left: 2px;
	z-index: 100;
	cursor:pointer;
}

.mc-tabs-ul li.active{
	background-color: #fff;
	border-bottom: 0; 
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom-color: transparent;
}

.mc-tabs-ul li:hover{
	background-color:#ccc;
}

.mc-tabs-ul li.active:hover{
	background-color:#fff;
}

.mc-dialog-form-div{
	position: relative;
}
#edit_layer_dialog_form_div{
	height: 200px;
}

.mc-tab-form{
	display:none;
	height: 100%;
	top: 0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: absolute;
	padding:4px;
}

.mc-tab-form table tr{
	height:30px;
	line-height:30px;
}

.mc-tab-form input[type="text"],.mc-tab-form input[type="password"]{
	border:1px solid #ccc;
	border-radius:4px;
	padding-left: 4px;
	height: 22px;
}

.active_tab{
	display:block;
}
/***************************************************************************/
/* Edit Layer Dialog End                                                    */
/***************************************************************************/

/***************************************************************************/
/* Create Layer Dialog Begin                                                  */
/***************************************************************************/

#create_layer_dialog{
	height:460px;
	width:600px;
	margin-left:-230px;
	margin-top:-300px;
}

.mc-dialog-info > #create_layer_dialog{
	overflow-y:auto;
}
#create_layer_dialog_form_div{
	height:330px;
}
#projection{
	color:#21759b;
	text-decoration:underline;
}

.mc-tab-form select{
	border: 1px solid #ccc;
	border-radius:4px;
	height:30px;
	cursor:pointer;
	padding-left: 6px;
}

#create_layer_dialog_attributes{
}

#create_layer_dialog_attributes li{
	position:relative;
	margin-top: 4px;
}

.delete_btn{
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 80px;
	height: 16px;
	width: 16px;
	background-image:url("../images/close-16.png");

	cursor:pointer;
}

.add_btn{
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 50px;
	height: 20px;
	width: 20px;	
	background-image:url("../images/add-20.png");
	cursor:pointer;
}
/***************************************************************************/
/* Create Layer Dialog End                                                  */
/***************************************************************************/

/***************************************************************************/
/* PGIS Connection Dialog Begin                                            */
/***************************************************************************/
#pgis_connection_dialog{
	height:400px;
	z-index:101;
	margin-top: -200px;
}

#pgis_connection_dialog_form_div{
	height:300px;
}
.mc-tab-form input[type="button"]{
	height:30px;
	border: 1px solid #e5e5e5;
	border-radius: 9px;
	cursor:pointer;
	margin-top: 12px;
	padding: 0 16px;
}

.btn{
	color:#000;
	border:1px solid #e5e5e5;
	border-radius:4px;
	padding:2px 4px;
	cursor:pointer;
	display: block;
	text-align: center;
	width: 80px;
	background-color:#e5e5e5;
}
#pgis_connection_test{
	margin: 4px 0px 0px 30px;

}
.btn:hover{
	background-color:#ccc;
}
/***************************************************************************/
/* PGIS Connection Dialog End                                              */
/***************************************************************************/

/***************************************************************************/
/* Database Dialog Begin   												   */
/***************************************************************************/

#database_dialog{
	height:620px;
	width:800px;
	margin-left: -400px;
	margin-top:-310px;
}
#database_dialog_form_div{
	height:500px;
}

#database_dialog fieldset{
	border:1px solid #e5e5e5;
}

#database_dialog ul{
	
}

#database-dialog-panel ul li{
	float:left;
	margin-left: 20px;
}

#database-dialog-panel ul li a{
	color:#21759b;
	border-bottom: 1px solid #21759b;
	padding-top: 2px;
	display: block;
}

#database_dialog_action{
	margin-top:20px;
	display: inline-block;
}

.caret{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;	
}
.btn-group{
}

.btn-mini{
	width:40px;
	font-size:11px;
}

.btn-mini .caret{
	margin-top:8px;
}
.open>.dropdown-menu {
	display: block;
}
.dropdown-menu{
	position: absolute;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
}

.dropdown-menu li{
	float:none;
	clear:both;
	width:100%;
	height:24px;
}

.dropdown-menu li:hover{
	background-color:#F8F5F5;
}
.dropdown-menu li a{
	text-decoration: none;
	width:100%;
	display:block;
	color: #333;
	white-space: nowrap;
	padding-left: 12px;

}

.hDiv tr{
	height:25px;
	line-height:20px;
}


#dbtable tr{
	height:25px;
	line-height:20px;
}
/*
#dbtable{
	margin-top:20px;
	height:300px;
}

#dbtable table{
	border-collapse:collapse;
	border:1px solid #AAA;
	text-align:center;
}

#dbtable .table_header{
	
}

#dbtable table th{
	border: 1px solid #AAA;	
	background-color:#ddd;
}

#dbtable table td{
	border: 1px solid #AAA;
}

#dbtable table tr{
	cursor:pointer;
}

#dbtable table tr:hover{
	background-color: #E7EFF5;
}

#dbtable table tr:hover a{
	color: #21759b;
	border-bottom: 1px solid #21759b;
}

#dbtable table tr:hover a:hover{
	color:red;
}
*/
/***************************************************************************/
/* Database Dialog End   												   */
/***************************************************************************/

/***************************************************************************/
/* File Dialog Begin   													   */
/***************************************************************************/
#file_dialog{
	height:500px;
	width:800px;
	margin-left:-400px;
	margin-top:-250px;
}

#file_dialog_form_div{
	height:360px;
}

#file_dialog_tree_div{
	float:left;
	width:200px;
	border:1px solid #ccc;
	height: 99%;
	border-radius: 8px;
}

#file_dialog_content{
	float:right;
	width:530px;
	border:1px solid #ccc;
	height: 99%;
}


.flexigrid{
	height:100%;
}

#file_dialog_toolbar_menu{
}

#file_dialog_toolbar_menu li{
	float:left;
	margin-left: 4px;
}

.iconbutton{
	height:16px;
	width:16px;
	display:block;
}
.iconbutton:hover{
	background-position-x: -16px;	
}
#file_dialog_toolbar_menu_refresh{
	background-image:url(../images/refresh.gif);
}

#file_dialog_toolbar_menu_select_all{
	background-image:url(../images/refresh.gif);
}

#file_dialog_toolbar_menu_new_folder{
	background-image:url(../images/folder_add.gif);	
}

#file_dialog_toolbar_menu_duplicate{
	background-image:url(../images/table_multiple.gif);	
}
/***************************************************************************/
/* File Dialog End     														*/
/***************************************************************************/
