.user_info_panel_border{
	padding: 20px;
}

#user_info_panel input{
	width: 200px;
}

#user_info_panel tr{
	height : 35px;
}

#user_paswd_panel{
	display: none;
}

#user_paswd_panel tr{
	height : 35px;
}

#user_paswd_panel input{
	width: 200px;
}

.td_column{
	width: 60px;
	font-weight: bold;
}

#btn_change_paswd{
	float: left;
	padding: 5px 10px;
	margin: auto auto;
	color: #FFF;
	border-radius: 5px; 
	background: #0097c3;
	text-decoration : none;
}