html {
  height: 100%;
}
  
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-size: 12px !important;
}

ul {
  display: block;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

li {
  display: list-item;
}

.mc-icon{
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
}
#main_container{
  height: 100%;
  width: 100%;
  margin: 0px;  
  padding: 0px;
  font-family: sans-serif;
  overflow: hidden;
}

#earth_container {  
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;  
  padding: 0px;
  font-family: sans-serif;
  overflow: hidden;
}

#radi_tool_bar{
	position: absolute;
	left: 20px;
	top : 20px;
	width: 800px;
	height: 30px;
	background: #FF0;
	z-index: 2;
}

.tool_item{
	font-size: 10px;
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right: 1px solid #D3D3D3;
}

.tool_item:hover{
	cursor: pointer;
}

#search_container{
    left: 40px;
    top: 30px;
    /*height: 400px;*/
    width: 350px;
    opacity: 0.85;
}
.float-panel{
  position: absolute;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
  /*background-color: #fff;*/
  border-radius: 4px;
}
#search_header{
    background-color: #4D90FE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
}
#search_header .row{
  margin: 0px;
}
#search_header .row [class*="col-"]{
  padding: 0px;
}
.logo{
  margin-right: 8px;
  margin-left: 2px;
  cursor: pointer;
}

.logo img{
  padding-top: 3px;
}
#search_header .dropdown-menu{
  min-width: 100%;
}
.search-item{
  /*padding-right: 0px !important;*/
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  width: 65px;
  border-right: 0px;
}
.search-keyword{
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.search-btn{
  background-image: url(../images/search_24.png) !important;
  background-repeat: no-repeat;
  background-position: center;
}
.search-btn:hover{
  background-color: none;
}
#search_content_div{
  height: 580px;
  background-color: #000;
  font-size: 12px;
  opacity: 0.9;
  color: #fff;
}
.search-content-tab-div{
  height: 100%;
  display: none;
}
.search-list-div{
  display: block;
}
.result-div{
  padding: 12px;
}
.result-div-header{
  width: 100%;
  border-bottom: 1px solid #ccc;
}


#search_container_coll{
    width: 100%;
    height: 20px;
    background: url(../../images/panctrl.png) no-repeat center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
    cursor: pointer;
}
.result-content-div{
  font-size: 12px;
  width: 100%;
  height: calc(100% - 31px);
  overflow-y:auto;
  overflow-x : hidden;
}
.result-content-div::-webkit-scrollbar { width: 0 !important }
.result-content-div ul{
  margin: 0px;
}

.result-content-div ul li{
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.result-content-div ul li:hover{
  background-color: #fff;
  color : #000;
}

#search_content_div .row{
  margin: 0px;
}
#search_content_div .row [class*="col-"]{
  padding: 0px;
}
.poi-name{
  font-size: 14px;
  margin-bottom: 4px;
}
.poi-address{
  color: #767676;
}
.search-menu-div{
  height: 100%;
  background-color: #000;
  border-right: 1px solid #1D1C1C;
}

.search-menu-div li{
  display: block;;
  text-align: center; 
  font-size: 12px; 
  padding: 10px 4px;
  cursor: pointer;
}
.search-menu-div li.active{
    color: #fff;
    border: 1px solid #565656;
    box-shadow: 0px 0px 2px 0px #828e9a;
    border-left: none;
}
.search-menu-div li:hover{
  background-color: #000;
  color: #fff;
}
.search-menu-div li img{
  display: block;
  margin-left: 12px;
}
.search-tab-div{
  display: none;
  padding: 20px 0px;
  height: 100%;
}
.search-tab-div.active{
  display: block;
}
.poi-item-icon{
  width: 38px;
  height: 38px;
}
.poi-icon-row .col-md-3{
  padding: 4px 18px !important;
  text-align: center;
  cursor: pointer;
}
.poi-icon-row .col-md-3 span{
  margin-top: 4px;
  display: block;
}
.poi-hotel-item{
  background: url(../../images/poi_type_icons.png) 0px;
}
.poi-restaurant-item{
  background: url(../../images/poi_type_icons.png) -38px;
}
.poi-shop-item{
  background: url(../../images/poi_type_icons.png) -76px;
}
.poi-cinema-item{
  background: url(../../images/poi_type_icons.png) -114px;
}
.poi-site-item{
  background: url(../../images/poi_type_icons.png) -152px;
}
.poi-bank-item{
  background: url(../../images/poi_type_icons.png) -190px;
}

.poi-supermarker-item{
  background: url(../../images/poi_type_icons.png) -228px;
}
.poi-subway-item{
  background: url(../../images/poi_type_icons.png) -266px;
}

/*AQI panel*/
.aqi-tab{
  padding: 10px 10px;
  /*overflow-y: auto; */
}
.aqi-info .row{
  margin: 4px 0px !important;
}
.aqi-time-row{
  /*border-bottom: 1px solid #ccc;*/
  /*padding-bottom: 4px;*/
}

/*.label-aqi-level-1{
  background-color: #00ff00
}
.label-aqi-level-2{
  background-color: #61f400;
}
.label-aqi-level-3{
  background-color: #bae900;
}
.label-aqi-level-4{
  background-color: #deb100;
}
.label-aqi-level-5{
  background-color: #d35400;
}
.label-aqi-level-6{
  background-color: #c80000;
}*/

.label-aqi-level-1{
  background-color: green
}
.label-aqi-level-2{
  /*background-color: yellow;*/
  background-color: rgb(193, 193, 2);
}
.label-aqi-level-3{
  background-color: orange;
}
.label-aqi-level-4{
  background-color: red;
}
.label-aqi-level-5{
  background-color: purple;
}
.label-aqi-level-6{
  background-color: brown;
}

.aqi-ranking{
  margin-top: 10px;
}
.aqi-ranking .header-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  text-align: center;
}

.pagination{
  margin: 4px 0px 4px 6px !important;
}
.pagination  li{
  border: 1px solid #C9D9EA;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
  padding: 4px;
}
.pagination  li:hover{
  color: #fff;
  background-color: #428bca;
}
.pagination li.current-page{
  border: none;
}
.aqi-ranking-div{
  height: 300px;
  /*overflow-y: auto; */
}

.aqi-ranking-div.loading{
  background: url(../../images/loading.gif) no-repeat;
  background-position: center;
}
.aqi-ranking-div .row{
  padding: 4px 0px;
  cursor: pointer;
  text-align: center;
}
.aqi-ranking-div .row:hover{
  background-color: #fff;
  color: #000;
}

.board{
  border: 1px solid #1D1C1C;
  /*border-radius: 4px;*/
  margin-bottom: 10px;

}
.board .board-title{
  /*background-color: #f7f7f7;*/
  background-color: #5A6169;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  /*border-radius: 4px;*/
}
.board .board-title span{
  margin-left: 4px;
}

.aqi-stat{
  /*margin-left: 20px;*/
}
.aqi-stat-div .aqi-stat a{
  color: #fff;
}
.aqi-number{
  float: right;
  padding: 0px 6px;
  border-radius: 4px;
  line-height: 26px;
  margin: 2px 20px 2px 0px;
}
.board-content{
  min-height: 100px;
  padding: 4px 8px;
}

.aqi-chart-btn{
  width: 100%;
  height: 68px;
  background: url(../../images/graphs_64.png) no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 10px 0px;
}
.aqi-chart-btn:hover{
  /*transform: scale(1.2); */
}

.aqi-stat-tab{
  padding: 10px;
  overflow-y: auto;
}
.aqi-stat-tab::-webkit-scrollbar { width: 0 !important }
.aqi-stat-div .row{
  margin: 4px 0px !important;
}
.topic-tab a{
  color: #fff;
}
/*city panel*/
#city_container{
  right: 40px;
  top: 30px;
  /*width: 180px;*/
  height: 33px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0px #828e9a;
  opacity: 0.6;
}
#city_container .current-city{
  display: inline-block;
  /*width: 60px;*/
  padding: 8px;
  cursor: pointer;

}
.current-city-name{
  /*width: 34px;*/
/*  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;*/
  color: #fff;

}
#city_container .current-city-aqi{
  display: inline-block;
  width: 60px;
  cursor: pointer;
}

/*city list panel*/
#city_list_container{
  right: 40px;
  top: 80px;
  width: 400px;
  height: 300px;
  background-color: #000;
  border-radius: 0px;
  padding: 10px;
  display: none;
  opacity: 0.6;
  color: #fff;
}
.current-city-row{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px !important;
  font-size: 14px;
  font-weight: bold;
}
.pop-city-row{

}
.pop-city-row ul li{
  float: left;
  cursor: pointer;
  color :#fff;
  margin: 2px 6px 2px 0px;
   font-size: 14px;
}
.pop-city-row li:hover{
  color: #61ACF9;
}
#city_list_container .row{
  margin: 0px;
  padding: 0px;
}
#city_list_container .row [class*="col-"]{
  padding: 0px;
}
.city-list-div{
  padding-top: 4px;

}
.city-list-div li{
  float: left;
  margin: 2px 8px 2px 0px;
  cursor: pointer;
  /*color:#767676;*/
 
}
.city-list-div li:hover{
  color: #61ACF9;

}
.city-list-div .col-md-2{
  width: 50px;
  font-weight: bold;
}
.city-list-content{
  height: 248px;
  overflow-y: auto; 
  width: 450px;
  padding-right: 30px; 
}

/*dialog */
.modal-content {
    border-radius: 0px !important;
}


/*AQI Chart Dialog */
#aqi_chart_dialog .modal-dialog{
  width: 830px;
}
#aqi_chart_container{
  height: 600px;
  width: 800px;
}


/*position panel*/
#position_container{
  /*right: 40px;*/
  bottom: 0px;
  left: 0px;
  width: 0px;
  /*height: 34px;*/
  line-height: 26px;
  /*padding: 2px 4px;*/
  padding: 2px 0px;
  color: #fff;
  border-radius: 0px;
  /*width: 330px;*/
  /*min-width: 350px;*/
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Microsoft YaHei" ;
  height: 28px;
}
#position_container span{
  margin-right: 4px;
}
.postion-content{
  min-width: 330px;
  position: absolute;
  bottom: 0px;
}

/*legend panel*/
#legend_container{
  left: 20px;
  bottom: 10px;
  color: #fff;
  box-shadow: 1px 2px 10px 0px #828e9a;
  opacity: 0.6;
  border-radius: 4px;
  background-color: #000;
  padding: 4px;
}
.chart-legend-max {
    min-width: 20px;
    text-align: right;
}
.chart-legend-canvas{
  float: left;
  margin: 10px;
}
.chart-legend-title {
    text-align: center;
}
.chart-legend-value{
  float: right;
}

.chart-legend-min{
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 50px;
}
/*专题面板*/
#topic_container{
  right: 40px;
  top:80px;
  width: 40px;
  height: 40px;
  /*padding: 4px;*/
  /*background-color: #000;*/
  box-shadow: 1px 2px 10px 0px #828e9a;
}

#topic_container .mc-icon{
  float: right;
  /*margin: 4px;*/
  height: 40px;
  width: 40px;
  border-left: 1px solid #1D1C1C;
}


.mc-icon{
  height: 32px;
  width: 32px;
  margin: 0px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.mc-icon-left{
  background-image: url(../../images/left_narrow.png);
}
.mc-icon-right{
  background-image: url(../../images/right_narrow.png);
}
.mc-icon-enco{
  background-image: url(../../images/poll.png);
}