
/***************************************************************************/
/* Body Begin                                                    */
/***************************************************************************/
html,body{
	font-size:12px;
	font-family: Microsoft YaHei;
	overflow: hidden;
	height:100%;
}

ul {
	display: block;
	list-style-type: none;
	padding-left: 0px;
	margin: 5px;
}

div{
	/*overflow: hidden;*/
}


.align_center{
	margin-left: auto;
	margin-right: auto;
}

.float-left{
	float: left;;
}
.container{
	padding:0px;
	width:100%;
}

.mc-theme-color{
	background-color:#0097c3;
}

.col-order{
	width: 40px;
}

.btn-margin-top{
	margin-top:5px;
}

#header_panel
{
	position: absolute;
	height: 60px;
	box-shadow: 1px 2px 10px 0px #828e9a;
	z-index: 10
}

#main_panel{
	position: absolute;
	top:60px;
	height: calc(100% - 60px);
	margin-top: 1px;
	z-index: 3
}

#logo_panel{
	margin-left: 10px;
	width: 50px;
	height: 100%;
	line-height: 100%;
	background-image: url(../../images/Web_Browser_50.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#title_panel{
    margin-left: 10px;
    height: 60px;
    line-height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#login_panel{
	float: right;
	/*width: 50px;*/
	height: 20px;
	margin-top: 5px;
	margin-right: 20px;
	/* background: #F00; */
}

#login_panel a{
	color: #FFF;
	margin-left: 12px;
}

.title_font{
	font-size: 24px;
	color: white;
	text-shadow: 2px 0px 0px #000;
}

#catalog_panel{
	position: relative;
	float: left;
	width: 100px;
	height: 100%;
	border-right: 2px solid #cad2dd;
	/* box-shadow: 1px 2px 3px 0 #828e9a; */
	/*box-shadow: 0px 0px 6px 3px #828e9a;*/
	z-index: 5;
	overflow: hidden;
}

#content_panel{
	position: relative;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}

#catalog_container{
	margin-top:0px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.catalog-item{
	cursor: pointer;
	border:1px solid #cad2dd;
	padding: 5px 0px 0px 0px;
	
	margin: 10px;

	
	webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.catalog-item h5{
	font-size: 12px;
}
.catalog-item.selected{
	background-color: #8EDCF3;
}
.catalog-item:hover{
	background-color: #8EDCF3;
	box-shadow: 1px 1px 2px 0.1px #828e9a;
}
.catalog-item:hover img{
	width: 38px;
	height: 38px;
}


#title_wrapper{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #DEDEDE;
	background: #FCFCFC;
}

.title_box{
	float: left;
	min-width: 150px;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	/* background: #F00; */
	font-size: 16px;
	font-weight: bold;
}

.title_bar_warpper{
	float: left;
	width: 400px;
	height: 40px;
	line-height: 40px;
}

.title_bar_warpper a{
	padding: 5px 10px;
	margin: 0px 5px;
	color: #FFF;
	border-radius: 5px; 
	background: #2EC7C9;
	text-decoration : none;
	/* box-shadow: 0px 0px 16px 3px #828e9a; */
}
.title_bar_warpper a.disabled{
	background: #cdcdcd;
}

.title_bar_warpper a:hover{
	box-shadow: 1px 1px 1px 1px #2EC7C9;
	/* background: #F00; */
}

#main_wrapper{
	width: 100%;
	height: 100%;
}


/*  user panel*/
.user-page-panel{
	width: 100%;
	height: calc(100% - 60px);

}
#title_wrapper{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #DEDEDE;
	background: #FCFCFC;
}

.title_box{
	float: left;
	min-width: 150px;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	/* background: #F00; */
	font-size: 16px;
	font-weight: bold;
}
.main-panel{
	height: calc(100% - 40px);
	width: 100%;
}
.left-panel{
	width: 250px;
	float: left;
	height: 100%;
    border-right: 1px solid #DEDEDE;	
}
.right-panel{
	height: 100%;
	overflow: hidden;
}
.left-title-bar{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #DEDEDE;
	padding-left: 5px;
}
.left-panel-content{
	width: 100%;
	height: calc(100% - 30px);
}

.left-title-icon{
	float: left;
    width: 30px;
    height: 30px;
    background: url("../images/catalog_16.png") no-repeat center center;
}

.right-panel-bar{
    float: left;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    line-height: 30px;
    background: #FCFCFC;
    border-bottom: 1px solid #DEDEDE;	
}
.right-panel-bar .btn-group {
	margin-top: 2px;
	margin-right: 10px;
}

.right-panel-bar .btn-group .btn{
	padding: 3px 28px;
	font-weight: bold;
}

.right-panel-tab{
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-width: 800px;
}
.right-panel-content{
	width: 100%;
	height: calc(100% - 30px);
	overflow: hidden;
}
.right-panel-content-tab{
	width: 100%;
	height: 100%;
}
.screen-alert {
    position: fixed;
    top: 0px;
    width: 260px;
    background-color: rgba(249, 223, 94, 0.71);
    padding: 5px;
    left: 50%;
    margin-left: -130px;
    z-index: 1080;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.67);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

#container{
	z-index: 1080; 
}
#container span{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	line-height: 26px;
}
.list-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 2px;
}
.list-tree{
	overflow-y : auto;
	height: 100%;
}
.list-tree .row{
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;	
}
.header-row{
	border-bottom: 2px solid #ddd
}
.list-tree .row.selected{
	background-color: #DFF1F8;
}
.list-tree .row:hover{
	background-color: #DFF1F8;
}
.mc-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.mc-icon-rotate{
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
.right-panel-content .row:not(.info-row):not(.info-row-item):nth-child(even){
	background-color: #f9f9f9;
}

.right-panel-content .row{
	padding: 4px;
	margin: 0px;
}
.right-panel-content .row:not(.header-row):not(.info-row):hover{
	background-color: #DFF1F8;
	cursor: pointer;
}

.right-panel-content  [class*='col-md']{
	padding: 4px;
}
.right-panel-content .row .oper{
	margin-right: 20px;
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
}
.pages-form{
	margin:6px;
}
.pages-form .form-group{
	padding: 4px;
	background-color: #f1f1f1;
	margin: 0px;
	border-radius: 4px;
}
.pages-form .form-group  [class*='col-md']{
	padding: 0px 15px;
}
.pages-form .form-group input{
	/*height: 30px;*/
	text-align: center;
	margin-left: 10px;
}
.pages-form .form-group label{
	padding-top: 10px !important;
}

.pages-form .form-group .query_count{
	text-align: left;
}
.pages-form .form-group .query_count span{
	margin-left: 6px;
}
.pages-form .form-group div a{
	color: #333;
}
.pages-form .form-group div a.btn.btn-primary{
	color: #fff;
}


.data_title_bar{
	float: left;
	/*width: 100%;*/
	/*height: 30px;*/
	padding-left: 20px;
	line-height: 30px;
	/*background: #FCFCFC;*/
	/*border-bottom: 1px solid #DEDEDE;*/
}

.data_title_bar a{
	padding: 5px 10px;
	margin: 0px 5px;
	color: #FFF;
	border-radius: 5px; 
	background: #0097c3;
	text-decoration : none;
	/* box-shadow: 0px 0px 16px 3px #828e9a; */
}

.data_title_bar a:hover{
	box-shadow: 1px 1px 1px 1px #828e9a;
	/* background: #F00; */
}
.common-panel{
	height: 100%;
	width: 100%;
}

/***************************************************************************/
/* User Map Begin		                                                    */
/***************************************************************************/

.map-tree .map-icon{
	background: url("../images/map.png") no-repeat center center;
}
.map-tree .map-tree-name{
	padding-left: 10px;
}


.map-list{
	height: calc(100% - 35px);
    overflow-y: auto;
}
#maps_thumb_ul{
	margin: 0px;
}
.map-thumb{
    position: relative;
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px;	
}

.map-thumb-a{
    display: block;
    width: 200px;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;	
}
.map-thumb-a:hover{
	border: 1px solid #428bca;
}
#map_thumb_list{
	overflow-y:auto; 
}

.page-heading {
    margin-bottom: 20px;
    border-bottom: 1px solid #428bca;
    padding-bottom: 6px;
    color: #428bca;
}

.map-info-row {
    padding: 0px 10px;
    color: #767676;
    margin: 12px;
}
.map-info-head-row{
	padding: 0px 4px;
	margin: 4px;
}

.map-info-row span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-info-item {
    width: 60px;
    text-align: right;
    margin-right: 6px;
}
#map_info_tab{
	overflow-y : auto;
	padding: 20px 40px 0 20px;
}
.map-info-name{
	width: 120px;
}
.map-info-layer-heading{
	color: #767676;
}
.map-info-layer-name{
	width: 120px;
}

/***************************************************************************/
/* User Map End 		                                                   */
/***************************************************************************/

/***************************************************************************/
/* User Vector DB Begin 		                                            */
/***************************************************************************/
.col-md-20px{
	/*width: 20px;*/
	padding-left: 6px;
}
.db-icon{
	background: url("../../images/server-16.png") no-repeat center center;
}

.mc-db-icon-dataset {
    background-image: url(../../images/table_16.png);
}
.mc-db-icon-dataset-point{
	background-image: url(../../images/marker_16.png);	
}

.mc-db-icon-dataset-line{
	background-image: url(../../images/polyline_16.png);	
}

.mc-db-icon-dataset-polygon{
	background-image: url(../../images/polygon-16.png);	
}
.vector-db-tree .nav{
	margin: 0px;
}
.vector-db-tree .nav>li{
	border-bottom: 1px solid #DEDEDE;
}
.vector-db-tree .nav>li.selected{
	background-color:#E7F1F5
}
.vector-db-tree .nav>li>a{
	padding: 4px 6px 4px 34px;
}
.vector-db-tree li a span{
    word-break: break-all;
    display: inline-block;
    max-width: 170px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
}
.datasets-list,#datasets_thumb_tab{
	width: 100%;
	height: 100%;
	overflow-y:auto;
}
.dataset-thumb{
    position: relative;
    float: left;
    display: block;
    width: 128px;
    height: 140px;
    margin: 10px;
}

.dataset-thumb-a{
    display: block;
    width: 128px;
    height: 128px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dataset-thumb-a:hover{
	border: 1px solid #428bca;
}

#dataset_infos_tab,#dataset_fields_tab,#dataset_features_tab{
	width: 100%;
	height: 100%;
	overflow:auto;
}
/***************************************************************************/
/* User Vector DB End 		                                               */
/***************************************************************************/

/***************************************************************************/
/* User File Begin			                                               */
/***************************************************************************/
.list-tree-ul-div .nav{
	margin: 0px;
	padding-left: 10px;
}
.list-tree-ul-div .nav>li>a.selected {
    color: #fff;
    background-color: #53AFE6;
}
.list-tree-ul-div .nav>li>a {
    padding: 4px 6px;
    font-size: 14px;
}
.list-tree-ul-div .nav>li>a>i{
	margin-right: 6px;
	color: #FFCC66;
}
.path-div{
	width: 300px;
	padding-left: 20px;
}
.path-div input{
	height: 26px;
	margin-top: 2px;
}
.file-list-content-div{
	height: calc(100% - 35px);
	overflow-y : auto;
}
.file-list-content-div .row .row .col-md-6{
	padding: 0px;
}
#raster_panel .file-list-content-div .row .row .col-md-6 i{
	margin-top: 4px;
}

.file-list-content-div .fa-folder{
	margin-top: 2px;
	color: #FFCC66;
}
.file-list-content-div .fa-file-o{
	margin-top: 2px;
}
/***************************************************************************/
/* User File End			                                               */
/***************************************************************************/
/***************************************************************************/
/* User Raster Begin			                                            */
/***************************************************************************/
#raster_panel .list-tree-ul-div .folder-tree{
	border-bottom: 1px solid #DEDEDE;
}
#raster_panel .raster-folder-list .row .row .col-md-6{
	padding: 0px;
}
#raster_panel .folder-tree{
	display: none;
}
#raster_panel .row .row .col-md-6 i{
	margin-top: 4px;
}
#raster_panel .row-folder .fa-folder{
	color: #FC6;
}
#raster_preview_tab{
	height: 100%;
	width:100%;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}
#raster_infos_tab{
	height: 100%;
	width: 100%;
	overflow-y: auto; 
}
#raster_thumb_tab{
	overflow-y:auto; 
}
#raster-folder-list{
	height: calc( 100% - 35px);
    overflow-y: auto;
}
.raster-folder-list{
	height: calc( 100% - 35px);
    overflow-y: auto;
}

/***************************************************************************/
/* User Raster End			                                               */
/***************************************************************************/

/***************************************************************************/
/* User Tile Begin			                                               */
/***************************************************************************/
#tile_panel{

}
.tile-db-tree .nav{
	margin: 0px;
}
.tile-db-tree .nav>li{
	border-bottom: 1px solid #DEDEDE;
}
.tile-db-tree .nav>li.selected{
	background-color:#E7F1F5
}
.tile-db-tree .nav>li>a{
	padding: 4px 6px 4px 34px;
}
.tile-db-tree li a span{
    word-break: break-all;
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
}
.mc-icon-tilestore{
	background-image: url(../images/tile.png);
}
.tilestore-list{
	height: calc(100% - 35px);
	overflow-y:auto; 
}
#tilestore_preview_tab{
	position: relative;
}
/***************************************************************************/
/* User Tile End			                                               */
/***************************************************************************/

/***************************************************************************/
/* User Info Begin			                                               */
/***************************************************************************/
#user_main_wrapper{
	/*padding: 20px;*/
}
#user_main_wrapper .form-group-sm{
	margin-bottom: 6px;
}

#user_main_wrapper .form-group-sm label{
	font-weight: normal;
}
/*#user_main_wrapper input{
	width: 200px;
}*/
#user_paswd_panel{
	display: none;
}
.user_info_panel_border{
	padding: 20px;
}
/***************************************************************************/
/* User Info End			                                               */
/***************************************************************************/
#user_sub_wrapper{

}
#user_sub_wrapper .form-group-sm{
	margin-bottom: 6px;
	margin: 0px;
}
#user_sub_wrapper .form-group-sm label{
	font-weight: normal;
}
.topic-label span{
	width: 50px;
	display: inline-block;
}

#aqi_city_wrapper{
	width: 600px;
    margin: 10px 20px;
}

#aqi_city_wrapper .row{
  margin: 0px;
  padding: 6px 2px;
}
#aqi_city_wrapper .aqi-city-list-div .row:hover{
  background-color: #DFF1F8;
  cursor: pointer;
}
#user_sub_panel .btn-group-div{
	float: right;
}

/***************************************************************************/
/* User Subscribe Begin			                                               */
/***************************************************************************/


/***************************************************************************/
/* User Service Begin			                                            */
/***************************************************************************/
.service-tree .service-icon {
    background: url(../images/map.png) center center no-repeat;
}
#service_info_tab{
    overflow-y: auto;
    padding: 20px 40px 0 20px;
}
.services-list {
    height: calc(100% - 35px);
    overflow-y: auto;
}

.thumb-div{
	width: 368px;
	height: 200px;
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
    /*border-radius: 4px;*/
/*    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ea*/
}
.info-row{
	display: none;
	border-bottom: 2px solid #F9F9F9;
	padding: 6px;
}
.right-panel-content .service-row:nth-child(4n+1),
.right-panel-content .map-row:nth-child(4n+1){
	background-color: #f9f9f9;
}

.right-panel-content .service-row.selected,.right-panel-content .map-row.selected{
	border: 1px solid #0097C3;
	border-bottom: none;
	background-color:  #DFF1F8;
}
.right-panel-content .info-row.selected{
	border : 1px solid #0097C3;
	border-top:  none;
}

.thumb-big-div{
	/*height: 250px;*/
	height: 100%;
	width: 100%;
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.service-oper{
    float: right;
    
    margin-right: 10px;
}
.service-oper-small{
	display: inline-block;
    /*float: right;*/
    width: 16px;
    height: 16px;
    cursor: pointer;	
}

.service-oper-start.disabled{
	background-image: url(../images/play_dis_32.png);
	cursor: not-allowed;
}
.service-oper-start{
	background-image: url(../images/play_32.png);
}
.service-oper-stop.disabled{
	background-image: url(../images/stop_dis_32.png);
	cursor: not-allowed;
}
.service-oper-stop{
	background-image: url(../images/stop_32.png);	
}
.service-oper-start-small{
	background-image: url(../images/play_16.png);
}
.service-oper-stop-small{
	background-image: url(../images/stop_16.png);	
}
.col-width-name{
	width: 130px;
}
.info-row-item{
	padding: 2px !important;
}
.info-row-item .col-md-3{
	width: 60px !important;
}

.info-row-item:hover{
	background-color: #fff !important;
	cursor: default !important;
}

.info-row-item [class*='col-md'] {
	padding: 0px;
}

.service-state{
	display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 30px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-state-stop{
	background-image: url(../images/red_32.png);
}
.service-state-start{
	background-image: url(../images/green_32.png);
}
.state-icon{
	background-repeat: no-repeat;
	background-size: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
}
/***************************************************************************/
/* User Service End			                                               */
/***************************************************************************/

/***************************************************************************/
/* User Infos Begin			                                               */
/***************************************************************************/
#user_info_panel{
	overflow-y: auto;
}
#user_main_wrapper{
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: #F7F7F7;
}
.user-panel-tab{
	display: none;
}
.user-panel-tab.active{
	display: block;
}
.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
}
.panel.panel-default {
    border-radius: 0px;
    border-top: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.panel .panel-heading {
    line-height: 32px;
    padding: 0 15px;
    min-height: 32px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
}

.panel .panel-heading h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
}
.panel .panel-heading i {
    width: 30px;
    display: inline-block;
    font-size: 14px;
}
.panel .panel-heading .panel-actions {
    float: right;
    margin-right: -15px;
    height: 34px;
    font-size: 0;
}
.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  /*border-left: 1px solid rgba(0,0,0,.09);*/
  height: 32px;
  vertical-align: middle;
}
.panel .panel-heading .panel-actions a.btn-icon{
	border-left: 1px solid rgba(0,0,0,.09);
}
.panel .panel-heading .panel-actions a label{
	margin: 0px 6px;
	color: #064c4c;
}

.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  margin-top: 9px;
 
}
.panel .panel-heading .panel-actions i:hover{
	color: #064c4c;
}
.panel .panel-body {
	padding: 10px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #ccc!important;
    border-bottom-color: #ccc!important;
    border-left-color: #ccc!important;
}
.panel .panel-body.loading {
    background: url(../../images/spin_3.gif) center no-repeat;
}
#job_list .panel-body{
	height: 280px;
}
#job_list .panel-body.loading{
	background: url(../../images/spin_2.gif) center no-repeat;
}
.panel table{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}

.panel table thead tr,.panel table tbody tr{
	display: block;
}
.panel table thead tr th,.panel table tbody tr td{
	float: left;
}
.panel table tbody{
	height: 100%;
	overflow-y:auto; 
	display: block;
}
.td-width-20{
	width: 20%;
}
.td-width-10{
	width: 10%;
}
.td-width-15{
	width: 15%;
}
.td-width-50{
	width: 50%;
}
#ip_list .panel-body{
	height: 400px;
}
#service_list .panel-body{
	height: 400px;
}

.user-info-section .info-box{
	background-color: #418ACA;
}
.user-upload-section .info-box{
	background-color: #D95350;
}
.user-map-section .info-box{
	background-color: #5DB85B;
}
.user-time-section .info-box{
	background-color: #EFAD4D;
}
.info-box{
	min-height: 100px;
	padding: 20px;
	color: #fff;
}
.info-box .col-md-8{
	display: table;
	height: 60px;
}
.info-box .col-md-8 div{
	display: table-cell;
	vertical-align: middle;
	font-size: 26px;
	text-align: center;
}
.tab-div{
	width: 100%;
	height: 100%;
	display: none;
}
.tab-div.active{
	display: block;
}
#ip_date_picker input{
	width: 100%;
}
.user-info{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    /*display: none;*/
}
.info-icon{
	font-size:100px;
	color: #2EC7C9;
}
#info_list .panel-body{
    height: 200px;
    display: table;
    width: 100%;
}
.info-list-item{
	margin: 6px 0px;
}

.info-list-item span.item-label{
	color: #767676;
	margin-right: 10px; 
}
.user-password{
	margin-top: 20px;
	display: none;
}
.user-password .btn{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
.btn-change-password{
	/*margin-top: 20px;*/
	color: #fff;
    background-color: #2EC7C9;
    border-color: #2EC7C9;
}
.info-edit{
    cursor: pointer;
    width: 20px;
    height: 16px;
    margin-left: 12px;
    font-size: 14px;
}
.info-edit:hover{
    background-color: #FFF;
    color: #2EC7C9;
    box-shadow: #fff 1px 2px;
    /*border: 1px solid #ddd;*/
}
/***************************************************************************/
/* User Infos End			                                               */
/***************************************************************************/
