
/***************************************************************************/
/* Body Begin                                                    */
/***************************************************************************/
html,body{
	font-size:12px;
	font-family: Microsoft YaHei;
	overflow: hidden;
	height:100%;
}

ul {
	display: block;
	list-style-type: none;
	padding-left: 0px;
	margin: 5px;
}

div{
	overflow: hidden;
}

.align_center{
	margin-left: auto;
	margin-right: auto;
}

.container{
	padding:0px;
	width:100%;
}

.mc-theme-color{
	background-color:#0097c3;
}

#header_panel
{
	position: absolute;
	height: 80px;
	box-shadow: 1px 2px 3px 0px #828e9a;
	z-index: 10
}

#main_panel{
	position: absolute;
	top:80px;
	height: 100%;
	margin-top: 1px;
	z-index: 3
}

#logo_panel{
	margin-left: 10px;
	width: 50px;
	height: 100%;
	line-height: 100%;
	background-image: url(../../images/Web_Browser_50.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#title_panel{
	margin-left: 10px;
	height: 80px;
	line-height: 80px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.title_font{
	font-size: 32px;
	color: white;
	text-shadow: 2px 0px 0px #000;
}

#catalog_panel{
	position: relative;
	float: left;
	width: 300px;
	height: 100%;
	/* border-right: 2px solid #cad2dd; */
	/* box-shadow: 1px 2px 3px 0 #828e9a; */
	box-shadow: 1px 0px 4px 0px #828e9a;
}

#content_panel{
	position: relative;
	height: 100%;
}

#catalog_container{
	margin-top:0px;
/* 	margin: 5px;
width: 100%-10px; */
	height: 100%;
	overflow: scroll;
}

.service_container{
	/* background-color: #00FF00; */
}

.service_title{
	padding: 0px 5px;
	font-size:16px;
	color: white;
	text-shadow: 1px 1px 1px #000;
	height: 40px;
	line-height: 40px;
	background-color: #00C5FF;
	/* box-shadow: 1px 0px 4px 0px #828e9a; */
	box-shadow: #666 0px 0px 10px;  
}

.item_block{

}

.item_container{
	margin-top: 2px;
	transition: all .2s ease-in-out;	
}

.item_block{
	padding: 0px 20px;
	font-size:12px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #cad2dd;
}

.item_block:hover{
	background-color: #DFF1F8;
	cursor:pointer;
}

.service_style{
	font-size:14px;
	padding-left: 10px;
	
}

.service_bar{
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #828e9a;
	background-color: #EFF1F3;
	cursor:pointer
}

.service_location{	
	/*background-color: #FF0000;*/
}

.servcie_request{
	/*background-color: #00FF00;	*/
}

.servcie_response{
	/*background-color: #0000FF;	*/
	height: 100%;
}

#request_parameters{
	margin: 0px;
	transition: all .2s ease-in-out;
}

#request_parameters table{
	width: 100%;
	margin:10px 20px;
}

#request_parameters tr{
	height: 30px;
	width: 100%;
}

#request_parameters td{
	vertical-align: top;
}


.request_column{
	width: 80px;
}

#request_parameters span{
	text-align: right;
	display:block;
	width: 100%;
	/*border: 1px solid #FF0000;*/
}

#request_parameters input{
	margin-left: 10px;
	width: 400px;
	height: 20px;
}

#response_container{
	width: 100%;
	height: 100%;
}