<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- <link rel="stylesheet" type="text/css" href="css/mc.css"/> -->
	<link rel="stylesheet" type="text/css" href="css/mv.css"/>
	<link rel="stylesheet" type="text/css" href="../../Map5/css/Map5.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../Map5/css/custom_slider.css"/>
	<script type="text/javascript" src="js/3rd/jquery-1.11.1.js"></script>
<!-- 
	<script type="text/javascript" src="js/3rd/bootstrap-3.2.0-dist/bootstrap.js"></script>
	<script type="text/javascript" src="js/3rd/bootstrap-3.2.0-dist/bootstrap-slider.js"></script>
	<script type="text/javascript" src="js/3rd/bootstrap-3.2.0-dist/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/3rd/bootstrap-3.2.0-dist/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="js/3rd/bootstrap-3.2.0-dist/bootstrap-multiselect.js"></script>
 -->

 	<!-- Map5 Library -->
 	<script type="text/javascript" src="../../Map5/lib/Map5.min.js"></script>
	<!-- Map5 Library -->

	<!-- MapView Library -->
	<script type="text/javascript" src="js/MapView.js"></script>
	<script type="text/javascript" src="js/Control/SearchControl.js"></script>
	<script type="text/javascript" src="js/Control/ResultControl.js"></script>
	<script type="text/javascript" src="js/Init.js"></script>
	<!-- MapView Library -->

	<title>MapView</title>
</head>

<body>
	<div id="search_bar" class="mc-border-shadow">
		<ul>
			<li><div id="earth_logo"></div></li>
			<li><input id="search_input" type="text" placeholder="查询关键字"></li>
			<li><div id="search_btn"></div></li>
		</ul>
	</div>
	<div id="result_wrapper">
		<div id="result_container" class="mc-border-shadow">
			<div id="map_menu">
				<div id="map_menu_poi" class="map_menu_item">
					<div class="mv_poi_icon"></div>	
					<span>POI</span>
				</div>
				<div id="map_menu_gaze" class="map_menu_item">
					<div class="mv_gaze_icon"></div>	
					<span>地名</span>
				</div>
				<div id="map_menu_aqi" class="map_menu_item">
					<div class="mv_gaze_icon"></div>	
					<span>AQI</span>
				</div>
			</div>
			<div id="content_container">
				<div id="poi_container">
 					<div id="poi_hot_bar">
  						<div id="poi_item_hospital" class="poi_hot_item">
							<div class="mv_poi_icon_item mv_poi_icon_hotel"></div>
							<span>酒店</span>
						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_restaurant"></div>
 							<span>餐饮</span>
 						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_shop"></div>
 							<span>购物</span>
 						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_cinema"></div>
 							<span>电影院</span>
 						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_site"></div>
 							<span>景点</span>
 						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_bank"></div>
 							<span>银行</span>
 						</div>
 						<div id="poi_item_restaurant" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_supermarker"></div>
 							<span>超市</span>
 						</div>
 						<div id="poi_item_gas" class="poi_hot_item">
 							<div class="mv_poi_icon_item mv_poi_icon_subway"></div>
 							<span>地铁</span>
 						</div>
					</div>
					<div class="poi_hot_catetory">
						<div>
							<img src="images/poi/poi_traffic.png">
							<span>出行</span>
							<span>公交站</span>
							<span>地铁站</span>
							<span>加油站</span>
							<span>停车场</span>
						</div>
						<div>
							<img src="images/poi/poi_entertainment.png">
							<span>休闲</span>
							<span>景点</span>
							<span>KTV</span>
							<span>酒吧</span>
							<span>电影院</span>
						</div>
						<div>
							<img src="images/poi/poi_life.png">
							<span>生活</span>
							<span>医院</span>
							<span>学校</span>
							<span>药店</span>
							<span>ATM</span>
						</div>
						<div>
							<img src="images/poi/poi_coffee.png">
							<span>餐饮</span>
							<span>火锅</span>
							<span>烧烤</span>
							<span>快餐</span>
							<span>川菜</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="result_panctl"></div>
	</div>

	<div id="map_switcher_wrapper">
        <div id="map_switcher" src="image/mapDituImage.png" onclick="onMapViewSwicher();"></div>
    </div>
	<div class="wrapper">
        <div id="map_bar_wrapper">
			<div class="map_bar_item"><span title="城市选择" id="city_btn">北京</span></div>
			<div class="map_bar_item"><span title="AQI">AQI:100</span></div>
			<div class="map_bar_item"><span title="禽流感">禽流感</span></div>
			<div class="map_bar_item"><div id="map_bar_measure"></div></div>
        </div>
		<div id="map_div"></div>
	</div>
</body>