html, body {
    font-size: 12px !important;
    overflow: hidden;
    height: 100%;
    margin:0px;
   
}

div{
	/*overflow: hidden;*/
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.float-panel{
	float: left;
}
.jumbotron{
	padding: 0px !important;
    height: 100%;
    display: block;
    margin: 0px;
    background-color: #fff !important;
}
.container {
    padding: 0px !important;
    width: 100%;
}

#title{
	height: 60px;
	/*border-bottom: 1px solid #ccc;*/
	background-color: #fff;
	/*background-image: url(../../images/banner.jpg);*/
	border-bottom: 1px solid #A0A1A3;
	/*box-shadow: 1px 2px 10px 0px #828e9a;*/
	/*background: linear-gradient(to right, #2C7FA2 20%, #25497E 100%);*/
	/*background: linear-gradient(to right, #00AEEF,#00AEEF 60%, #E7F7FD 100%);*/
	/*background: linear-gradient(to bottom,#086ed5,#055db5);*/
}
#title .logo-pic{
	width: 66px;
	height: 100%;
	display: inline-block;
	background: url(../../images/logo_pic.png) no-repeat;
	margin-left: 20px;
}
#title .logo{
	font-family: "Microsoft YaHei";
	/*margin-left: 20px;*/
	display: inline-block;
    /*padding-top: 12px;*/
    /*color: #222;*/
    background: url(../../images/logo.jpg) no-repeat -56px 0px;
    height: 100%;
    width: 500px;
}

#main_panel{
	height: calc( 100% - 60px);
	width: 100%;

}
#left_panel{
	float: left;
	width: 330px;
	border-right: 1px solid #a0a1a3;
	height: 100%;

}
#left_panel .menu{
	width: 60px;
	border-right: 1px solid #a0a1a3;
	height: 100%;
	background-color: #252525;
}

#left_panel .menu li{
	display: block;
	height: 48px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	/*border-bottom: 1px solid #E3E3E3;*/
	cursor: pointer;
	padding: 10px 4px 6px;
	height: 62px;
	webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#left_panel .menu li:hover{
	background-color: #3385FF;
	/*box-shadow:  3px 2px 2px 0px #8A9BB5;*/
	/*width: 60px;*/
	color: #fff;
}
#left_panel .menu li.active{
	background-color: #3385FF;
	/*box-shadow:   3px 2px 2px 0px #8A9BB5;*/
	/*width: 60px;*/
	color: #fff;
	border: none;
}
#left_panel .menu li .fa{
	display: block;
	margin-bottom: 7px;
}
#left_panel .menu li span{
	font-size: 12px;
	font-family: Arial,Helvetica,"Microsoft YaHei",sans-serif;
}
.poi-search-menu{
	background-image: url(../../images/search_48.png);
}
.address-search-menu{
	background-image: url(../../images/position_48.png);
}
.overlay-menu{
	background-image: url(../../images/paper_48.png);
}
.chart-menu{
	background-image: url(../../images/analytics_48.png);
}
.search-btn {
    background-image: url(../../images/search_24_2.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.remove-poi-search{
    /* display: table-cell; */
    /* border: 1px solid #ccc; */
    background-image: url(../../images/remove_16.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    border-left: none;
    position: absolute;
    right: 30px;
    top: 0px;
    height: 28px;
    z-index: 10;
    margin: 3px;
    cursor: pointer;
    display: none;
}
#left_panel .search-panel{
	width: 269px;
	height: 100%;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.search-tab-panel{
	display: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.poi-search-panel{
	display: block;
}
.result-content-div{
	overflow-x : hidden;
	overflow-y: auto;
	height: calc(100% - 65px);
	width: 100%;
}
.result-content-div::-webkit-scrollbar {
	width: 0 !important;
}
.result-tab-div{
	display: none;
}
.result-tab-div.active{
	display: block;
}
.poi-tab .row{
  margin: 0px;
}
.poi-tab .row [class*="col-"]{
  padding: 0px;
}
.poi-item-icon{
  width: 38px;
  height: 38px;
  margin-left: 10px;
}
.poi-icon-row .col-md-4{
  padding: 4px 18px !important;
  text-align: center;
  cursor: pointer;
}
.poi-icon-row .col-md-4 span{
  margin-top: 4px;
  display: block;
}
.poi-icon-row .col-md-4 span:hover{
  color: #428bca;
}
.poi-list-row{
  margin: 6px 16px !important;
}
.poi-list-first-row{
  margin-top: 16px !important;
}
.poi-list-row span{
  cursor: pointer;
  width: 44px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.result-main-div ul li:hover {
    background-color: #ddd;
    color: #000;
}
.result-main-div ul li {
    padding: 4px 2px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;    
}
.result-main-div ul li .row{
	margin: 0px;
}
.poi-name {
    font-size: 14px;
    margin-bottom: 4px;
}
.poi-address {
    color: #767676;
}
.result-content-div .pagination {
    margin: 6px !important;
    width: 100%;
}
.result-content-div .pagination .pre-page {
    float: left;
}
.poi-hotel-item{
  /*background: url(../../images/poi_type_icons.png) 0px;*/
  /*background: url(../../images/hospital_38.png) -38px;*/
  background: url(../../images/poi_type_icons_2.png) -114px 0px;
}
.poi-restaurant-item{
  background: url(../../images/poi_type_icons.png) -38px;
}
.poi-shop-item{
  background: url(../../images/poi_type_icons.png) -76px;
}
.poi-cinema-item{
  background: url(../../images/poi_type_icons.png) -114px;
}
.poi-site-item{
  background: url(../../images/poi_type_icons.png) -152px;
}
.poi-bank-item{
  background: url(../../images/poi_type_icons.png) -190px;
}

.poi-supermarker-item{
  background: url(../../images/poi_type_icons.png) -228px;
}
.poi-subway-item,.poi-train-item{
  background: url(../../images/poi_type_icons.png) -266px;
}
.poi-embassy-item{
	/*background: url(../../images/bank_38.png);*/
	background: url(../../images/poi_type_icons_2.png) 0px 0px;
}
.poi-bus-item{
	/*background: url(../../images/bus_38.png) ;*/
	background: url(../../images/poi_type_icons_2.png) -38px 0px;
}
.poi-gas-item{
	/*background: url(../../images/car_38.png);*/
	background: url(../../images/poi_type_icons_2.png) -76px 0px;
}
.poi-factory-item{
	/*background: url(../../images/setting_38.png);*/
	background: url(../../images/poi_type_icons_2.png) -152px 0px;
}


#right_panel{
	float: left;
	width: calc( 100% - 330px);
	height: 100%;
	position: relative;;
/*	min-width: 800px;
	min-height: 800px;*/
}
.result-content-div .pagination .next-page {
    float: right;
    margin-right: 12px;
}
.pagination li {
    border: 1px solid #5C5C5c;
    border-radius: 3px;
    margin-right: 2px;
    cursor: pointer;
    padding: 4px;
}
#map_container{
/*	width: 100%;
	height: 100%;*/
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#map_bar_wrapper {
    position: absolute;
    top: 20px;
    right: 100px;
    border-radius: 4px;
    /*opacity: 0.7;*/
    /*width: 392px;*/
    height: 32px; 
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 2px 10px 0px #4E5961;
}
.mc-icon {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#map_bar_wrapper  .mc-icon-world{
	border-right: none;
}
#map_bar_wrapper .bar-icon-div {
    float: left;
    margin: 0px;
    width: 30px;
    height: 30px;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}
#map_bar_wrapper div.active{
	background-color: #fff;
}
#map_bar_wrapper .current-layer{
	text-align: center;
	min-width: 140px;
	padding-top: 7px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
#map_bar_wrapper .layer-query-tool{
	width: 100px;
	float: left;
	cursor: pointer;
	margin: 0px;
	border-right: 1px solid #e6e6e6;
	height: 100%;
}
#map_bar_wrapper .query-label{
	margin-top: 7px;
	text-align: center;
}
#map_bar_wrapper .query-tools{
	position: absolute;
	left: 140px;
	top: 40px;
	width: 100px;
	background-color: #fff;
	box-shadow: 1px 2px 10px 0px #828e9a;
	display: none;
}
#map_bar_wrapper .query-tools li{
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}
#map_bar_wrapper .query-tools li [class*='col-md'],
#map_bar_wrapper .layer-query-tool [class*='col-md']{
	padding: 0px;
}
#map_bar_wrapper .query-tools li .col-md-8,
#map_bar_wrapper .layer-query-tool .col-md-8{
	margin-top: 6px;
}

#map_bar_wrapper .query-tools li i,
#map_bar_wrapper .layer-query-tool i{
	display: inline-block;
	margin:0px;
	width: 30px;
	height: 30px;

}
.mc-border {
    border: 1px solid #e6e6e6;
}
.mc-icon-area{
	background-image:url(../../images/area.png);
}
.mc-icon-polygon {
    background-image: url(../../images/polygon.png);
}
.mc-icon-line {
    background-image: url(../../images/polyline_16.png);
}
.mc-icon-plus {
    background-image: url(../../images/add-16.png);
}
.mc-icon-minus {
    background-image: url(../../images/minus-16.png);
}
.mc-icon-info {
    background-image: url(../../images/info-16.png);
}
.mc-icon-mouse {
    background-image: url(../../images/mouse-16.png);
}
.mc-icon-world {
    background-image: url(../../images/world-16.png);
}
.mc-icon-hand-up {
    background-image: url(../../images/hand-up-16.png);
}
.mc-icon-full-screen {
    background-image: url(../../images/fullscreen-g-16.png);
}
.mc-icon-zoom-in {
    background-image: url(../../images/zoom-in-16.png);
}
.mc-icon-pin {
    background-image: url(../../images/pin-16.png);
}
.mc-icon-empty{
	background-image: url(../../images/free.png);	
}
.mc-icon-globe{
	background-image: url(../../images/globe.png);		
}
.mc-icon-back{
	background-image: url(../../images/back.png);	
}
.mc-icon-save{
	background-image: url(../../images/save_24.png);		
}

.control-icon .btn i {
    font-size: 14px;
    color: #000;
}

#base_layer_wrapper{
	position: absolute;
	right: 40px;
	top: 20px;
	width: 49px;
	height: 46px;
	cursor: pointer;
	box-shadow: 1px 2px 10px 0px #828e9a;
}
.base-layer-icon{
	display: none;
	position: relative;
	/*margin: 1px;*/
	height: 100%;
	width: 100%;
	background: url(../../images/maptype.png) no-repeat;
}

.vector-base{
	background-position: 0 0px;
}
.image-base{
	background-position: 0px -46px;
}
.base-layer-icon.active{
	display: block;
}
.base-layer-icon div{
    position: absolute;
    bottom: 2px;
    width: 45px;
    left: 2px;
    height: 16px;
    color: #000;
    font-family: "Microsoft YaHei";
    background-color: #fff;
    opacity: 0.8;
}

#query_results_container{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 0px;
	border-top: 1px solid #ccc;
}

.panel-header {
    /* height: 42px; */
    overflow: hidden;
    border-bottom: 1px solid #d3d3d3;
    background: #f8f8f8;
    cursor: move;
    padding: 4px;
}
.panel-header button.close {
    margin-top: 4px;
    margin-right: 10px;
    font-size: 28px;
}
.panel-header .panel-header-content {
	margin-left: 10px;	
	
}

.pages-form .form-group div a {
    color: #333;
}
.panel-header-content-name{
	text-align: left !important;
	font-size: 14px;
	padding: 6px  0px !important;
	/*min-width: 126px;*/
}
.pages-form .form-group{
	padding: 4px;
	background-color: #f1f1f1;
	margin: 0px;
	border-radius: 4px;
}

.pages-form .form-group input{
	/*height: 30px;*/
	text-align: center;
	margin-left: 10px;
}
.pages-form .form-group label{
	padding-top: 10px;
}

.pages-form .form-group .query_count{
	text-align: left;
}
.pages-form .form-group .query_count span{
	margin-left: 6px;
}
.pages-form .form-group div a{
	color: #333;
}
.pages-form .form-group div a.btn.btn-primary{
	color: #fff;
}
.btn-hide {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 6px;
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    border: 0px;
    background: 0 0;
    padding: 0;
    cursor: pointer;
}
#query_results_container .pages-form .form-group {
	background-color: #f8f8f8 !important;
}
#query_results_container #datagrid_content {
    height: calc( 100% - 53px);
    overflow: auto;
    background-color: #fff;
}
.table-hover tbody tr{
	cursor: pointer;
}
#datagrid_content tr.selected td{
	background-color: rgba(169, 169, 169,0.8);
}


#map_layers_wrapper{
	position: absolute;
	right: 292px;
	top: 60px;
	height: 300px;
	width: 140px;
	border: 1px solid #ccc;
	background-color:#fff; 
	display: none;
	box-shadow: 1px 2px 10px 0px #828e9a;
}

/*#map_layers_wrapper .row{
	margin: 0px;
}*/



.map-layers-list{
	height: 100%;
	overflow-y :auto;
}
.map-layers-list::-webkit-scrollbar{
	width: 0 !important;
}
#map_layers_wrapper .map-layers-list .row{
    padding: 4px 0px;
    border-bottom: 1px solid #dedede;
    /* cursor: pointer; */
    margin: 0px;
}
#map_layers_wrapper .map-layers-list .row:hover,
#map_layers_wrapper .map-layers-list .row.active{
	background-color: #DFF1F8;

}
#map_layers_wrapper .map-layers-list .row input{
	margin-top: 2px;
}

#map_layers_wrapper .map-layers-list .row .layer-name{
	cursor: pointer;
	width: 100%;
    display: inline-block;
}
#map_layers_wrapper .map-layers-list .row .glyphicon-ok{
	color: #fff;
}
#map_layers_wrapper .map-layers-list .row:hover .glyphicon-ok{
	color: #FF6B4C;
}
#map_layers_wrapper .map-layers-list .row.active .glyphicon-ok{
	color: #FF6B4C;
}

#map_overlay_wrapper{
	position: absolute;
	top: 80px;
	left: 40px;
	z-index: 2;
	display: none;
	box-shadow: 1px 2px 10px 0px #4E5961;
}
#map_overlay_wrapper .btn{
	border-radius: 0px;
}

.overlay-tab-panel{
	height: 100%;
	width: 100%;
}
.overlay-list-div{
	overflow-y: auto;
	height: calc( 100% - 102px);
	margin: 5px;
	border: 1px solid  #ccc;
}
.search-tab-panel .header-row{
    padding: 6px;
    margin: 4px 0 0 0;
    border-bottom: 2px solid #6BB1DE;
}
.search-tab-panel .header-row span{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    display: inline-block;
    padding: 2px;
}
.search-tab-panel .header-row .mc-icon{
	width: 24px;
	height: 24px;
	margin-right: 3px;
}
.search-tab-panel .header-row .save-overlay{
	font-size: 22px;
	color: #75b6df;
}
.overlay-list-div::-webkit-scrollbar{
	width: 0 !important;
}
.overlay-list-div .row{
	margin: 0px;
	padding: 6px 4px;
	border-bottom: 1px solid #dcdcdc;
}

.overlay-list-div .row:hover{
	background-color: #DFF1F8;
}
.overlay-list-div [class*='col-md'] {
    padding: 0px 6px;
}

.overlay-list-div .oper{
	margin-right: 3px;
}
.overlay-edit-div .row{
	margin: 6px;
}
/*.overlay-panel .header-row .mc-icon-globe{
	height: 24px;
	width: 24px;
}*/
.overlay-panel .current-layer-row{
	padding: 6px;
	margin: 5px;
    border: 1px solid #ccc;
}
.overlay-panel .current-layer-div{
	line-height: 30px;
}

.overlay_key {
    padding-left: 0px;
    padding-right: 0px;
}
.overlay_key input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.overlay_value input{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.span-overlay-marker{
	top: 0px;
	cursor: pointer;
}
.overlay-edit-name-row{
	margin-top: 10px !important;
}

.screen-alert {
    position: fixed;
    top: 0px;
    width: 260px;
    background-color: rgba(249, 223, 94, 0.71);
    padding: 5px;
    left: 50%;
    margin-left: -130px;
    z-index: 1080;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.67);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: none;
}
.ui-notify{
	top: 5px !important;
}
#container{
	z-index: 1080; 
}
#container span{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	line-height: 26px;
}
/*.chart-panel ul{
	height: calc( 100% - 38px);
	overflow-y: auto;
}
.chart-panel ul::-webkit-scroll-bar{
	width: 0 !important;
}*/
.chart-panel ul.chart-2014 li{
	padding: 6px;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	/*background-image: -webkit-gradient(linear,left top,left bottom,from(#FBF9F1),to(#D7E9F1));*/
	background-color: #CEE6F1;
}

.chart-panel ul.chart-2014  li:hover{
	background-color: #CEE6F1;
}

.chart-panel ul.chart-2014  li img{
	margin-right: 4px;
}
.chart-2014 .chart-item-list{
	display: none;
}
.chart-panel ul.chart-2014  .row{
	margin: 0px;
	padding: 6px 4px;
	border-bottom: 1px solid #efefef;
	cursor: pointer;
	font-size: 12px;
}
.chart-panel ul.chart-2014  [class*='col-md'] {
    padding: 0px 6px;
}
.chart-panel ul.chart-2014  .row:hover{
	background-color: #EAF6FB;
}
.chart-panel ul.chart-2014  .row.active{
	background-color: #EAF6FB;
}

.accordion{
    /*width: 96%;*/
    /* max-width: 360px; */
    margin: 10px 5px 0px;
    background: #FFF;
    /*border-radius: 4px;*/
    border: 1px solid #ccc;	
    border-bottom: none;
}
.accordion .link {
	cursor: pointer;
	display: block;
	padding: 8px 8px 10px 38px;;
	color: #4D4D4D;
	font-size: 12px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li.open .link {
	color: #359DD0;
}

.accordion li.open>i ,.accordion li.open .link>i{
	color: #359DD0;
}
.accordion li>i ,.accordion .link i{
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 14px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion li i.fa-chevron-down{
  right: 12px;
  left: auto;
  font-size: 16px;
}
 .submenu {
 	display: none;
 	/*background: #444359;*/
 	font-size: 12px;
 	border-bottom: 1px solid #ccc;
 }

/* .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	font-size: 12px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }*/

.heatmap-submenu{
	/*background-color: #E7E7E7;*/
	padding: 20px;
}

.heatmap-submenu button{
	margin-left: 50px;
	width: 100px;
}
.tianjin-chart{
	padding: 8px;
}
.tianjin-chart .control-label{
	padding-left: 4px;
    padding-right: 4px;
    font-weight: normal;
    font-size: 12px;
}

.tianjin-chart .form-group{
	margin-bottom: 6px;
}
.tianjin-chart .slider {
	width: 100%;
}
.tianjin-chart .panel-title{
	font-size: 12px;
}
#map_btn{
	position: absolute;
	left: 329px;
	top: 50%;
	height: 56px;
	width: 14px;
	border: 1px solid #a0a1a3;
	z-index: 2;
	border-left: none;
	cursor: pointer;
	background-color: #fff;
}
#map_btn span{
    margin-top: 21px;
    font-size: 14px;
    margin-left: 2px;
}


/*city list panel*/

#city_list_container{
	position: absolute;
  	left: 20px;
  	top: 60px;
 	width: 390px;
  	height: 300px;
  	background-color: #fff;
  	border-radius: 0px;
  	padding: 10px;
  	display: none;
  /*opacity: 0.6;*/
  	color: #000;
}
.current-city-row{
  border-bottom: 1px solid #888888;
  padding-bottom: 10px !important;
  font-size: 14px;
  font-weight: bold;
}
.pop-city-row{

}
.pop-city-row ul li{
  float: left;
  cursor: pointer;
  color :#0091ff;
  margin: 2px 6px 2px 0px;
   font-size: 14px;
}
.pop-city-row li:hover{
  color: #61ACF9;
}
#city_list_container .row{
  margin: 3px 0px;
  padding: 0px;
}
#city_list_container .row [class*="col-"]{
  padding: 0px;
}
.city-list-div{
  padding-top: 4px;

}
.city-list-div li{
  float: left;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
  color:#767676;
 
}
.city-list-div li:hover{
  color: #61ACF9;

}
.city-list-div .col-md-2{
  width: 50px;
  font-weight: bold;
}
.city-list-content{
  height: 248px;
  overflow-y: auto; 
  /*width: 450px;*/
  padding-right: 30px; 
}
.city-list-content::-webkit-scrollbar{
	width: 0 !important;
}

/* current city panel*/
#city_container{
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: #fff;
	border-radius: 4px;
    box-shadow: 1px 2px 10px 0px #828e9a;
}

#city_container .current-city {
    display: inline-block;
    /* width: 60px; */
    padding: 8px;
    cursor: pointer;
}
#city_container .current-city .caret{
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;	
}
#city_container .current-city.open .caret{
	transform : rotate(180deg);
}

.float-coordinates{
	position: absolute;
	height: 24px;
	width: 166px;
	right: 30px;
	bottom: 30px;
	box-shadow: 1px 2px 10px 0px #828e9a;
	padding: 4px;
    color: #428BCA;
    z-index: 2;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    border-radius: 4px;
}