html, body {
    font-size: 12px;
    font-family: Microsoft YaHei;
    overflow: hidden;
    height: 100%;
}
.float-left{
	float: left;;
}
.container{
	padding:0px;
	width:100%;
}
.mc-theme-color{
	background-color:#0097c3;
}

#header_panel
{
	position: absolute;
	height: 60px;
	box-shadow: 1px 2px 10px 0px #828e9a;
	z-index: 10
}

#main_panel{
	position: absolute;
	top:60px;
	height: calc(100% - 60px);
	margin-top: 1px;
	z-index: 3
}

#logo_panel{
	margin-left: 10px;
	width: 50px;
	height: 100%;
	line-height: 100%;
	background-image: url(../../images/Web_Browser_50.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#title_panel{
    margin-left: 10px;
    height: 60px;
    line-height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
#login_panel{
	float: right;
	/*width: 50px;*/
	height: 20px;
	margin-top: 5px;
	margin-right: 20px;
	/* background: #F00; */
}
#login_panel a{
	color: #FFF;
	margin-left: 12px;
}

.title_font {
    font-size: 24px;
    color: white;
    text-shadow: 2px 0px 0px #000;
}


#catalog_panel{
	position: relative;
	float: left;
	width: 100px;
	height: 100%;
	border-right: 2px solid #cad2dd;
	/* box-shadow: 1px 2px 3px 0 #828e9a; */
	/*box-shadow: 0px 0px 6px 3px #828e9a;*/
	z-index: 5;
	overflow: hidden;
}
#content_panel{
	position: relative;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}
#catalog_container{
	margin-top:0px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.catalog-item {
    cursor: pointer;
    border: 1px solid #cad2dd;
    padding: 5px 0px 0px 0px;
    margin: 10px;
    webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.catalog-item h5{
	font-size: 12px;
}
.catalog-item.selected{
	background-color: #8EDCF3;
}
.catalog-item:hover{
	background-color: #8EDCF3;
	box-shadow: 1px 1px 2px 0.1px #828e9a;
}
.catalog-item:hover img{
	width: 38px;
	height: 38px;
}

.common-panel{
	height: 100%;
	width: 100%;
}
#title_wrapper {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #DEDEDE;
    background: #FCFCFC;
}
.title_box{
	float: left;
	min-width: 150px;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.title_bar_warpper{
	float: left;
	width: 400px;
	height: 40px;
	line-height: 40px;
}

.title_bar_warpper a{
	padding: 5px 10px;
	margin: 0px 5px;
	color: #FFF;
	border-radius: 5px; 
	background: #0097c3;
	text-decoration : none;
}

.title_bar_warpper a:hover{
	box-shadow: 1px 1px 1px 1px #828e9a;
}

#main_wrapper{
	width: 100%;
	height: 100%;
}

.main-panel{
	height: calc(100% - 40px);
	width: 100%;
}
.left-panel{
	width: 200px;
	float: left;
	height: 100%;
    border-right: 1px solid #DEDEDE;	
}
.right-panel{
	height: 100%;
	overflow: hidden;
}
.left-title-bar{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #DEDEDE;
	padding-left: 5px;
}
.left-panel-content{
	width: 100%;
	height: calc(100% - 30px);
}

.left-title-icon{
	float: left;
    width: 30px;
    height: 30px;
    background: url("../images/catalog_16.png") no-repeat center center;
}

.right-panel-bar{
    float: left;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    line-height: 30px;
    background: #FCFCFC;
    border-bottom: 1px solid #DEDEDE;	
}
.right-panel-bar .btn-group {
	margin-top: 2px;
	margin-right: 10px;
}

.right-panel-bar .btn-group .btn{
	padding: 3px 28px;
	font-weight: bold;
}

.right-panel-tab{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.right-panel-content{
	width: 100%;
	height: calc(100% - 30px);
	overflow: hidden;
}
.right-panel-content-tab{
	width: 100%;
	height: 100%;
}
.screen-alert {
    position: fixed;
    top: 0px;
    width: 260px;
    background-color: rgba(249, 223, 94, 0.71);
    padding: 5px;
    left: 50%;
    margin-left: -130px;
    z-index: 1080;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.67);
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

#container{
	z-index: 1080; 
}
#container span{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	line-height: 26px;
}
.list-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	/*margin-top: 2px;*/
}
.list-tree{
	overflow-y : auto;
	height: 100%;
}
.list-tree .row{
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;	
}
.list-tree .nav>li{
	border-bottom: 1px solid #DEDEDE;
}
.list-tree  .nav>li>a {
	padding: 4px 6px 4px 34px;
}
.list-tree li a span {
	word-break: break-all;
	display: inline-block;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 8px;
}
.header-row{
	border-bottom: 2px solid #ddd
}
.list-tree .row.selected{
	background-color: #DFF1F8;
}
.list-tree .row:hover{
	background-color: #DFF1F8;
}
.mc-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.mc-icon-rotate{
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
.right-panel-content .row:nth-child(even){
	background-color: #f9f9f9;
}

.right-panel-content .row{
	padding: 4px;
	margin: 0px;
}
.right-panel-content .row:not(.header-row):hover{
	background-color: #DFF1F8;
	cursor: pointer;
}

.right-panel-content  [class*='col-md']{
	padding: 4px;
}
.right-panel-content .row .oper{
	margin-right: 20px;
}
.text-ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
}
.pages-form{
	margin:6px;
}
.pages-form .form-group{
	padding: 4px;
	background-color: #f1f1f1;
	margin: 0px;
	border-radius: 4px;
}
.pages-form .form-group  [class*='col-md']{
	padding: 0px 15px;
}
.pages-form .form-group input{
	/*height: 30px;*/
	text-align: center;
	margin-left: 10px;
}
.pages-form .form-group label{
	padding-top: 10px !important;
}

.pages-form .form-group .query_count{
	text-align: left;
}
.pages-form .form-group .query_count span{
	margin-left: 6px;
}
.pages-form .form-group div a{
	color: #333;
}
.pages-form .form-group div a.btn.btn-primary{
	color: #fff;
}


.data_title_bar{
	float: left;
	/*width: 100%;*/
	/*height: 30px;*/
	padding-left: 40px;
	line-height: 30px;
	/*background: #FCFCFC;*/
	/*border-bottom: 1px solid #DEDEDE;*/
}

.data_title_bar a{
	padding: 5px 10px;
	margin: 0px 5px;
	color: #FFF;
	border-radius: 5px; 
	background: #0097c3;
	text-decoration : none;
	/* box-shadow: 0px 0px 16px 3px #828e9a; */
}

.data_title_bar a:hover{
	box-shadow: 1px 1px 1px 1px #828e9a;
	/* background: #F00; */
}
/***************************************************************************/
/* Admin user Begin 			                                            */
/***************************************************************************/
.user-icon{
	background: url(../images/user_1.png) no-repeat center center;
}
.online-icon{
	background: url(../images/world.png) no-repeat center center;
}
.users-count,.online-users-count{
	margin-left: 20px;
	color: #428BCA;
}
.pagination>li>a{
	padding: 4px 12px;
}
.pagination-div{
	float: right;
	margin-right: 20px;
}
.user-list{
	height: calc(100% - 35px);
	width: 100%;
	overflow-y: auto;
}
/***************************************************************************/
/* Admin user End 			                                           		*/
/***************************************************************************/
/***************************************************************************/
/* Admin data Begin 			                                           		*/
/***************************************************************************/
.col-md-20px{
	padding-left: 6px;
}
.db-icon{
	background: url("../../images/server-16.png") no-repeat center center;
}

.mc-db-icon-dataset {
    background-image: url(../../images/table_16.png);
}
.mc-db-icon-dataset-point{
	background-image: url(../../images/marker_16.png);	
}

.mc-db-icon-dataset-line{
	background-image: url(../../images/polyline_16.png);	
}

.mc-db-icon-dataset-polygon{
	background-image: url(../../images/polygon-16.png);	
}
.datasets-list{
	height: calc(100% - 35px);
	width: 100%;
	overflow-y: auto;
}

.dataset-thumb{
    position: relative;
    float: left;
    display: block;
    width: 128px;
    height: 140px;
    margin: 10px;
}

.dataset-thumb-a{
    display: block;
    width: 128px;
    height: 128px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dataset-thumb-a:hover{
	border: 1px solid #428bca;
}

#datasets_thumb_tab{
	overflow-y:auto; 
}
#dataset_infos_tab,#dataset_fields_tab,#dataset_features_tab{
	width: 100%;
	height: 100%;
	overflow:auto;
}
.mc-base-layer-icon{
	background-image: url(../images/map.png);
}
#base_layer_canvas_wrapper{
	position: relative;
}
/***************************************************************************/
/* Admin data End 			                                           		*/
/***************************************************************************/
